<?xml version="1.0" encoding="UTF-8"?>
<!--

        This file is part of the Squashtest platform.
        Copyright (C) 2010 - 2012 Henix, henix.fr

        See the NOTICE file distributed with this work for additional
        information regarding copyright ownership.

        This is free software: you can redistribute it and/or modify
        it under the terms of the GNU Lesser General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        this software is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU Lesser General Public License for more details.

        You should have received a copy of the GNU Lesser General Public License
        along with this software.  If not, see <http://www.gnu.org/licenses/>.

-->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:osgi="http://www.springframework.org/schema/osgi"
	xmlns:osgix="http://www.springframework.org/schema/osgi-compendium"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/osgi http://www.springframework.org/schema/osgi/spring-osgi-2.0-m1.xsd
        http://www.springframework.org/schema/osgi-compendium http://www.springframework.org/schema/osgi-compendium/spring-osgi-compendium-2.0-m1.xsd">

	<osgix:cm-properties id="squashtest.tm.uploadfilter.config"
		persistent-id="org.squashtest.csp.tm.web.uploadfilter.config" />

	<!-- <osgix:cm-properties id="squashtest.tm.reporting.contentdispositionmapping" 
		persistent-id="org.squashtest.csp.tm.reporting.contentdisposition" /> -->

	<!-- Definitions using elements of the osgi namespace can be included in 
		this file. There is no requirement to keep these definitions in a separate 
		file if you do not want to. The rationale for keeping these definitions separate 
		is to facilitate integration testing of the bundle outside of an OSGi container -->
	<osgi:reference id="squashtest.tm.service.TestCaseModificationService"
		bean-name="squashtest.tm.service.TestCaseModificationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.testcase.TestCaseModificationService</value>
			<value>org.squashtest.tm.service.testcase.TestCaseFinder</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference
		id="squashtest.tm.service.TestCaseLibraryNavigationService" bean-name="squashtest.tm.service.TestCaseLibraryNavigationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.testcase.TestCaseLibraryNavigationService</value>
			<value>org.squashtest.tm.service.testcase.TestCaseLibraryFinderService</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference id="squashtest.tm.service.TestStepModificationService"
		bean-name="squashtest.tm.service.TestStepModificationService" availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.testcase.TestStepFinder</value>
			<value>org.squashtest.tm.service.testcase.TestStepModificationService</value>
		</osgi:interfaces>
	</osgi:reference>


	<osgi:reference id="squashtest.tm.service.RequirementModificationService"
		bean-name="squashtest.tm.service.RequirementModificationService"
		interface="org.squashtest.tm.service.requirement.RequirementModificationService"
		availability="mandatory" />

	<osgi:reference
		id="squashtest.tm.service.RequirementLibraryNavigationService"
		bean-name="squashtest.tm.service.RequirementLibraryNavigationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.requirement.RequirementLibraryNavigationService</value>
			<value>org.squashtest.tm.service.requirement.RequirementLibraryFinderService</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference id="squashtest.tm.service.CampaignModificationService"
		bean-name="squashtest.tm.service.CampaignModificationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.campaign.CampaignModificationService</value>
			<value>org.squashtest.tm.service.campaign.CampaignFinder</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference id="squashtest.tm.service.IterationModificationService"
		bean-name="squashtest.tm.service.IterationModificationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.campaign.IterationModificationService</value>
			<value>org.squashtest.tm.service.campaign.IterationFinder</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference
		id="squashtest.tm.service.CampaignLibraryNavigationService" bean-name="squashtest.tm.service.CampaignLibraryNavigationService"
		interface="org.squashtest.tm.service.campaign.CampaignLibraryNavigationService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.CampaignTestPlanManagerService"
		bean-name="squashtest.tm.service.CampaignTestPlanManagerService"
		interface="org.squashtest.tm.service.campaign.CampaignTestPlanManagerService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.SearchService"
		bean-name="squashtest.tm.service.SearchService" interface="org.squashtest.tm.service.library.SearchService"
		availability="mandatory" />

	<osgi:reference id="squashtest.core.security.PermissionEvaluationService"
		bean-name="squashtest.core.security.PermissionEvaluationService"
		interface="org.squashtest.tm.service.security.PermissionEvaluationService"
		availability="mandatory " />

	<!-- bug tracker services -->
	<osgi:reference id="squashtest.tm.service.BugTrackersLocalService"
		bean-name="squashtest.tm.service.BugTrackersLocalService" interface="org.squashtest.tm.service.bugtracker.BugTrackersLocalService"
		availability="mandatory" />
	<osgi:reference id="squashtest.tm.service.BugTrackerManagerService"
		bean-name="squashtest.tm.service.BugTrackerManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.bugtracker.BugTrackerManagerService</value>
			<value>org.squashtest.tm.service.bugtracker.BugTrackerFinderService</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference id="squashtest.tm.service.BugTrackerModificationService"
		bean-name="squashtest.tm.service.BugTrackerModificationService"
		interface="org.squashtest.tm.service.bugtracker.BugTrackerModificationService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.UserAccountService"
		bean-name="squashtest.tm.service.UserAccountService" interface="org.squashtest.tm.service.user.UserAccountService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.AdministrationService"
		bean-name="squashtest.tm.service.AdministrationService" interface="org.squashtest.tm.service.user.AdministrationService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.ProjectManagerService"
		bean-name="squashtest.tm.service.ProjectManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.project.ProjectManagerService</value>
			<value>org.squashtest.tm.service.project.ProjectFinder</value>
		</osgi:interfaces>
	</osgi:reference>
	<osgi:reference id="squashtest.tm.service.ProjectTemplateManagerService"
		bean-name="squashtest.tm.service.ProjectTemplateManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.project.ProjectTemplateManagerService</value>
			<value>org.squashtest.tm.service.project.ProjectTemplateFinder</value>
		</osgi:interfaces>
	</osgi:reference>

  <osgi:reference id="squashtest.tm.service.GenericProjectManagerService"
    bean-name="squashtest.tm.service.GenericProjectManagerService"
    availability="mandatory">
    <osgi:interfaces>
      <value>org.squashtest.tm.service.project.GenericProjectManagerService</value>
      <value>org.squashtest.tm.service.project.GenericProjectFinder</value>
    </osgi:interfaces>
  </osgi:reference>

	<osgi:reference id="squashtest.tm.service.CallStepManagerService"
		bean-name="squashtest.tm.service.CallStepManagerService" interface="org.squashtest.tm.service.testcase.CallStepManagerService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.TestAutomationService"
		bean-name="squashtest.tm.service.TestAutomationService" interface="org.squashtest.tm.service.testautomation.TestAutomationFinderService"
		availability="mandatory" />

	<osgi:reference id="squashtest.tm.service.TestSuiteModificationService"
		bean-name="squashtest.tm.service.TestSuiteModificationService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.campaign.TestSuiteModificationService</value>
			<value>org.squashtest.tm.service.campaign.TestSuiteFinder</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference
		id="squashtest.tm.service.testautomation.AutomatedExecutionManagerService"
		bean-name="squashtest.tm.service.testautomation.AutomatedExecutionManagerService"
		interface="org.squashtest.tm.service.testautomation.AutomatedExecutionManagerService"
		availability="mandatory" />

	<osgi:list id="squash.tm.report.ReportPlugins" interface="org.squashtest.tm.api.report.ReportPlugin">
		<osgi:listener ref="squash.tm.report.ReportsRegistry"
			bind-method="registerReports" unbind-method="unregisterReports" />
		<osgi:listener ref="squash.tm.report.JasperReportsViewDefinitionsRegistry"
			bind-method="registerViews" unbind-method="registerViews" />
	</osgi:list>



	<!-- yes : tm.web propose one service consumed by core.web (intra-bundle 
		injection won't work despite one being a fragment of the other) -->

	<bean id="squashtest.tm.web.authSuccessCallback.btautoconnect"
		class="org.squashtest.tm.web.internal.exceptionresolver.BugTrackerAutoconnectCallback">
		<property name="bugTrackersLocalService"
			ref="squashtest.tm.service.BugTrackersLocalService" />
		<property name="projectFinder"
			ref="squashtest.tm.service.ProjectManagerService" />
		<property name="bugTrackerFinder"
			ref="squashtest.tm.service.BugTrackerManagerService" />

	</bean>

	<osgi:service ref="squashtest.tm.web.authSuccessCallback.btautoconnect"
		interface="org.squashtest.tm.web.security.authentication.AuthenticationSuccessCallback" />


	<!-- CUF services -->

		
	<osgi:reference id="squashtest.tm.service.CustomFieldBindingManagerService"
		bean-name="squashtest.tm.service.CustomFieldBindingManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.customfield.CustomFieldBindingFinderService</value>
			<value>org.squashtest.tm.service.customfield.CustomFieldBindingModificationService</value>
		</osgi:interfaces>
	</osgi:reference>	
		

	<osgi:reference id="squashtest.tm.service.CustomFieldManagerService"
		bean-name="squashtest.tm.service.CustomFieldManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.customfield.CustomFieldManagerService</value>
			<value>org.squashtest.tm.service.customfield.CustomFieldFinderService</value>
		</osgi:interfaces>
	</osgi:reference>

	<osgi:reference id="squashtest.tm.service.CustomFieldValueManagerService"
		bean-name="squashtest.tm.service.CustomFieldValueManagerService"
		availability="mandatory">
		<osgi:interfaces>
			<value>org.squashtest.tm.service.customfield.CustomFieldValueFinderService</value>
			<value>org.squashtest.tm.service.customfield.CustomFieldValueManagerService</value>
		</osgi:interfaces>
	</osgi:reference>

</beans>
