/**
 * .sq-button skins a simple button, with text inside it
 * Those tags which handle the "disabled" attribute are managed using a pseudo-class. 
 * Those who don't (such as <a>) should use the .sq-disabled class along with programmatic disabling
 */
.sq-button {
	.ui-button; 
	.sq-widget; 
	.ui-state-default; 
	.ui-corner-all;
	
	input& { padding: .4em 1em; }
	
	/* buttons and as are .ui-button-text-only and contain a span.ui-button-text reproduced below */
	button&, a& {
		//display: block; 
		line-height: 1.4;
		padding: .4em 1em;
	}
	
	&:hover {
		//.ui-button:hover;
		.ui-state-hover;
	}
	
	&:active {
		//.ui-button:active;
		.ui-state-active;
	}
	
	&:focus {
		//.ui-button:focus;
		.ui-state-focus;
	}
	&.link {
		//.ui-button:link;
	}
	
	&:disabled, &.sq-disabled { .ui-state-disabled; }
	
	&:visited {
		//.ui-button:visited;
	}
}
/**
 * PRIVATE STUFF - NOT TO BE USED IN HTML CODE
 **/
/* Private "rewrite" of .ui-widget, because there are rules not possible to "mix in" */
.sq-widget {
	.ui-widget;
	
	.sq-widget { font-size: 1em; }
	
	input, select, textarea, button {
		font-family: Verdana,Arial,sans-serif; 
		font-size: 1em;
	}
}
